<div class="my-4">
    <h1>CREATE COURSE</h1>
    <form method="POST" action="/courses/store">
        <div class="mb-3">
            <label for="name" class="form-label">Name course</label>
            <input type="text" class="form-control" id="name">          
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description">          
        </div>
        <div class="mb-3">
            <label for="videoId" class="form-label">Video ID</label>
            <input type="text" class="form-control" id="videoId">          
        </div>
        <div class="mb-3">
            <label for="level" class="form-label">Level</label>
            <input type="text" class="form-control" id="level">          
        </div>
        
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>