<div class="form-search">
    <form method="POST" action="" class="m-4 d-flex">
        <input id="search-input" class="form-control me-2" type="search" placeholder="Search" name="q">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>